/********************* COMMON **********************/
body {
	background-color: #222;
	color: white;
	font-family: sans-serif;
}

.deb {
	border: 2px dashed blue;
}
/********************* HEADER **********************/
/********************** MAIN ***********************/
/********************* FOOTER **********************/
